.app {
  padding: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.segment {
  padding: 1rem;
}
